#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.flags {
  display: flex;
  margin-bottom: 1%;
}

.flag {
  margin-right: 3%;
}