.img {
    width: 70%;
    border-radius: 40%;
    margin: 10px;
}

.div {
    background-color: rgb(135, 163, 216);
    border-radius: 5%;
    margin: 10px;
}

.title {
    font-size: 25pt;
    color: whitesmoke;
    font-weight: 500;
}